.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
  }
  
  .modal-main {
    position:fixed;
    background-color: transparent;    
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }

  /* HTML: <div class="loader"></div> */
  .loader {
    width: 80px;
    aspect-ratio: 1;
    display: grid;
    color: #3d3f4c;
    background: radial-gradient(circle 16px,currentColor 94%,#0000);
    -webkit-mask: radial-gradient(circle 5px,#0000 90%,#000);
    animation: l10 1.5s infinite linear;
  }
  .loader:before,
  .loader:after {
    content: "";
    grid-area: 1/1;
    background: 
      radial-gradient(farthest-side at bottom right,currentColor 94%,#0000) top    right, 
      radial-gradient(farthest-side at top    left ,currentColor 94%,#0000) bottom left;
    background-size: 40% 45%;
    background-repeat: no-repeat;
    -webkit-mask: 
      radial-gradient(60% 100% at bottom right,#0000 94%,#000) top    right, 
      radial-gradient(60% 100% at top    left ,#0000 94%,#000) bottom left;
    -webkit-mask-size: 40% 45%;
    -webkit-mask-repeat: no-repeat;
  }
  .loader:after {
    transform: rotate(90deg);
  }
  @keyframes l10 { 
    100%{transform: rotate(1turn)}
  }