.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem 1rem;
  border-radius: 0.3rem;
  border: 0.05rem solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
  justify-content: center;
  font-size: 1.2rem;
  margin: 1rem;
}

.btn:hover {
  background-color: #2b2c2f;
}

.btn:disabled {
  background-color: #2b2c2f;
  cursor: not-allowed;
}