* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  color: #4b4e4f;
}

ul {
  list-style-type: none;
}

.submitButton {
  border: none;
  background-color: unset;
  cursor: pointer;
}


.btn {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem 1rem;
  border-radius: 0.2rem; 
  border: 0.05rem solid rgba(255, 255, 255, 0.5);
  background-color: #3d6abd;
  color: #ffffff;
  cursor: pointer;
  justify-content: center;
  font-size: clamp(0.8rem, 2.5vw, 1rem);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn:hover {
  background-color: #2f5499;
}

.btn:disabled {
  background-color: #2f5499;
  cursor: not-allowed;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 0fr 1fr 0fr;
  background-color: #ffffff;
}

.burger {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-25%, -50%);
  fill: #e0e2e7;
  cursor: pointer;
}

.burger-right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(25%, -50%);
  fill: #e0e2e7;
  cursor: pointer;
}

.sidebar {
  width: 20rem;
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #f1f3f4;
  overflow: auto;
  transition: all 0.3s ease;
}

.sidebar.open {
  width: 0;
  padding: 0;
  opacity: 0;
  box-shadow: 0px 0px 14px #ececf1;
  filter: blur(14px);
}

.sidebar-history {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.question-box{
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin-bottom: 15px; 
  border-radius: 0.3rem;
  font-size: 0.8rem;
}

.question-owner{
  font-weight: bold;
  /* color: white; */
}

.question-text {
  width: 100%;
  padding: 3px;
  box-sizing: border-box;
  border-radius: 4px;
}

.sidebar li {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.5rem;
  white-space: nowrap;
}

.sidebar .li-overflow-shadow:not(:hover)::after {
  content: "‎";
  position: absolute;
  bottom: 0.5rem;
  right: -5px;
  padding: 0 5px;
  left: calc(100% - 50px);
  border-radius: 0.3rem;
  pointer-events: none;
  z-index: 1;
}

.sidebar-info {
  width: 100%;
  padding-top: 1rem;
  border-top: 0.05rem solid rgba(255, 255, 255, 0.5);
}

.sidebar-info-user,
.sidebar-info-clear {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}


.sidebar-info-clear:hover {
  background-color: #d9dadc;
  border-radius: 0.3rem;
  cursor: pointer;
}

.sidebar-info-user:hover {
  cursor: not-allowed;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
  overflow: hidden;
}

.main h1 {
  font-size: 2rem;
}

.chat-history {
  width: 100%;
  height: 100%;
  padding-bottom: 4rem;
  overflow-x: hidden;
  font-size: 0.8rem;
}

.chat-history li {
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.3rem;
  max-width: 95%;
  overflow-y: auto;
  background-color: #ffffff;
}

.chat-history li:nth-child(odd) {
  background-color: unset;
}

.chat-history li:nth-child(even) {
  border-radius: 0.3rem;
}

.chat-history img:not(:nth-child(even)) {
  display: block;
  border-radius: 0.3rem;
  width: 1.8rem;
  height: 1.8rem;
}

.role-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.chat-input-main {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  margin-top: 0.5rem;
}

.chat-input-main p:first-child {
  padding-top: 0.5rem;
}

.chat-input-main p {
  font-size: 0.8rem;
  text-align: center;
  color: #c3c3d1;
}

.main-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 15px;
}

.main-header h3 {
  font-weight: 500;
  flex-grow: 1;
  text-align: center;
  margin: 0; 
  font-size:1.1rem;
}

.errorText {
  margin: 0 auto;
}

.chat-input-form {
  width: 99%;
  padding: 0.3rem 1.6rem;
  margin: 1 auto;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
}

.chat-input-form textarea {
  width: 100%;
  height: 3rem;
  font-size: 1rem;
  padding-right: 1rem;
  background-color: transparent;
  outline: none;
  border: none;
}

.chat-input-form textarea::placeholder {
  color: #8e8fa1;
}

.chat-input-form svg {
  fill: #8e8fa1;
  transform: rotate(-45deg);
}

.chat-input-form svg:hover {
  fill: #ececf1;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  font-size: 1.6em
}

.chat-message,
.chat-source {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  max-width: 100%;
  display: block;
  overflow: hidden;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f1f3f4;
}

.form-input{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.folder-form-input {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  }